body {
  margin: 0;
  height: 100%;
  width: 100%;
  min-height: 400px;
  /* min-width: 600px; */
  background-color: #e6e6e6;
}

div.container {
  width: 100%;
  height: 100vh;
  /* min-width: 400px;
  min-height: 300px; */
}

[v-cloak] {
  display: none;
}

div.tmp-formula-box,
div.answer-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

div.tmp-formula-box {
  height: 15vh;
  font-size: 20px;
  color: #a9a9a9;
}

div.answer-box {
  height: 20vh;
  font-size: 50px;
  font-weight: bold;
}

table {
  table-layout: fixed;
  height: 65vh;
  width: 100%;
}

button, button:active, button:focus {
  color: #000000;
  border-style: none;
  outline: none;
  width: 100%;
  height: 100%;
  font-size: 22px;
  margin: 0;
}

button.num-button {
  background-color: #fafafa;
  font-size: 24px;
  font-weight: bold;
}

button.main-ope-button, button.sub-ope-button {
  background-color: #f0f0f0
}

button.num-button:hover, button.sub-ope-button:hover {
  background-color: #e6e6e6;
}

button.main-ope-button:hover {
  background-color: #006eb1;
  color: #d5eeee;
}

button.num-button:focus {
  border-style: none;
}
