body {
  margin: 0;
  background-color: #e6e6e6;
}

div.container {
  width: 100vw;
  height: 100vh;
  min-width: 300px;
  min-height: 400px;
}

[v-cloak] {
  display: none;
}

div.box-container {
  display: grid;
  grid-template-rows: 1fr 2fr;
  height: 30%;
  padding: 0 2% 0;
}

div.box-container .tmp-formula-box,
div.box-container .answer-box {
  display: flex;
  justify-content: flex-end;
}

div.box-container .tmp-formula-box {
  align-self: end;
  font-size: 18px;
  color: #a9a9a9;
}

div.box-container .answer-box {
  font-size: 60px;
  font-weight: bold;
}

div.buttons-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 70%;
}

div.buttons-container button,
div.buttons-container button:active,
div.buttons-container button:focus {
  border-style: none;
  color: #000000;
  font-size: 22px;
  outline: none;
  margin: .5px;
}

div.buttons-container button.num-button {
  background-color: #fafafa;
  font-size: 24px;
  font-weight: bold;
}

div.buttons-container button.binary-ope-button,
div.buttons-container button.unary-ope-button {
  background-color: #f0f0f0
}

div.buttons-container button.num-button:hover,
div.buttons-container button.num-button:active,
div.buttons-container button.unary-ope-button:hover,
div.buttons-container button.unary-ope-button:active {
  background-color: #e6e6e6;
}

div.buttons-container button.binary-ope-button:hover {
  background-color: #006eb1;
  color: #d5eeee;
}

div.buttons-container button.num-button:focus {
  border-style: none;
}
