
body {
  margin: 0;
  background-color: #e6e6e6;
}

div.container {
  width: 100vw;
  height: 100vh;
  min-width: 300px;
  min-height: 400px;
}

[v-cloak] {
  display: none;
}

div.box-container {
  display: grid;
  grid-template-rows: 1fr 2fr;
  width: 100vw;
  height: 30%;
  padding: 5% 0 5%;
  box-sizing: border-box;
}

div.box-container div.box {
  display: flex;
  justify-content: flex-end;
  align-items:  center;
  width: 100%;
  box-sizing: border-box;
  padding: 0 2% 0;
}

div.box-container div.tmp-formula-box {
  font-size: 16px;
  color: #a9a9a9;
}

div.box-container div.answer-box {
  font-weight: bold;
}

@media (max-width: 767px) {
  div.box-container div.answer-box {
    font-size: 48px;
  }
}
@media (min-width: 788px) {
  div.box-container div.answer-box {
    font-size: 60px;
  }
}

div.buttons-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 70%;
}

div.buttons-container button {
/* div.buttons-container button:active { */
  border-style: none;
  color: #000000;
  font-size: 22px;
  outline: none;
  margin: .5px;
}

div.buttons-container button.num-button {
  background-color: #fafafa;
  font-size: 24px;
  font-weight: bold;
}

div.buttons-container button.binary-ope-button,
div.buttons-container button.unary-ope-button {
  background-color: #f0f0f0
}

div.buttons-container button.num-button:hover,
div.buttons-container button.num-button:active,
div.buttons-container button.unary-ope-button:hover,
div.buttons-container button.unary-ope-button:active {
  background-color: #e6e6e6;
}

div.buttons-container button.binary-ope-button:hover,
div.buttons-container button.binary-ope-button:active {
  background-color: #006eb1;
  color: #d5eeee;
}

div.buttons-container button.num-button:focus {
  border-style: none;
}
